<html>
       <head>
           <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
           <script src="bower_components/jquery/dist/jquery.js"></script>
           <script src="tunein.js"></script>
           <script>if (window.module) module = window.module;</script>
       </head>
<body>
    <button type="button" onclick="location.reload()">Reload</button> 
    Tunein-URL:    <input type="text" id="tuneinUrl" value="http://tunein.com/radio/YOU-FM---YOUNG-FRESH-MUSIC-1066-s24878/"/>
    <button onclick="onClickAnalyse();">Analyse</button><br/>
    
    <h3>
        Stream informations
    </h3>
    <div id="streaminfos">    
    </div>
    </br>
    <h3>
        Stream playlists
    </h3>
    <div id="streamplaylists">    
    </div>
    </br>
    <h3>
        Streams:
    </h3>
    <div id="streams"/>
    </div>
    <br/>
    <h3>
        Scheduled:
    </h3>
     <div id="scheduled"/>
     </div>
     <br/>
</body>
</html>