<html>

<head>
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <link rel="stylesheet" href="anytime/anytime.5.1.2.min.css" />
    <link rel="stylesheet" href="css/recorder.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="anytime/anytime.5.1.2.min.js"></script>
    <script src="bower_components/timepicker/jquery.timepicker.min.js"></script>    
    <script src="bower_components/later/later.min.js"></script>
</head>

<body>
    Please enter the tunein page:<br/>
    <form onsubmit="onClickAnalyse(); return false;">
        <input type="text" id="tuneinUrl" value="http://tunein.com/radio/WDR5---H%C3%B6ren-erleben-880-s20301/" style="width:500px"/>
        <input type="submit" value="Analyse"/>
    </form>    
    <h3>
        Streams:
    </h3>
    <div id="streams">
    </div>
    <br/>
    <h3>
        Scheduled:
        <table>
            <tr>
                <th>Stream</th>
                <th>Start</th>
                <th>Duration</th>
                <th>Scheduled</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
            <tbody  id="scheduleTable"/>
        </table>
    </h3>    
    <br/>
    <h3>
        Finished downloads:
    </h3>
    <div id="downloads">
    </div>

    <br/>
    <img src="img/ajax-loader.gif" id="loadingAnimation"/>
    <div id="schedulePopup" class="hiddenPopup">
        Start<input type="text" id="beginTime" /><br/> 
        Duration
        <input type="text" id="duration" placeholder="30" size="5"/> minutes<br/>        
        <input type="radio" name="schedule-type" value="once" checked='checked'>Record once</input>
        <input type="radio" name="schedule-type" value="daily" >Repeat daily</input>
        <input type="radio" name="schedule-type" value="weekly" >Repeat weekly</input></br>
        <button type="button" onclick="saveSchedule();">Schedule</button>
    </div>
    </br>
    </br>
    <div id="errors" class="errors"></div>
    <button type="button" onclick="onClickReset();" id="resetButton">Reset</button><br/><br/>

    <div id="version"><div>
    <script src="tunein.js"></script>
    <script>if (window.module) module = window.module;</script>
</body>

</html>